#{$CountryRankingStrips-container} {

  $text-color: rgba(255, 255, 255, 1);
  $dark-blue: #2f353f;
  $area-color: rgba(255, 255, 255, 0.25);
  $yellow: #fce587;
  $dark-yellow: #eec331;

  /* Write your chart styles here */
  .chart-title  h6{
    margin-top: 1rem;
    font-weight: lighter;
    color: $text-color!important;
  }
  svg {
    // overflow: visible;
  }
  .CountryRankingStrips {
    background-color: $dark-blue;
    // overflow: visible;
    path.distribution-area {
      opacity: 1;
      stroke: none;
      fill: $area-color;
    }
    path.distribution-line {
      fill: none;
      stroke-width: 1;
      stroke: $area-color;
      stroke-linecap: round;
    }
    .rugplot{
      rect {
        paint-order: stroke fill;
        fill: $text-color;
        opacity: 0.25;

        // transition: all 0.5s ease-in-out;

        &.highlighted {
          fill: $dark-yellow;
          opacity: 1;
          stroke-width: 0.5;
          stroke: $dark-blue;
        }

        &.active {
          opacity: 1;
          stroke-width: 0.5;
          stroke: $dark-blue;
        }
      }
    }
    .histogram{
      fill: $area-color;
    }
    rect.highlight-bar{
      fill: $area-color;
      stroke-width: 0;
      stroke: $text-color;
      opacity: 0.55;
      cursor: crosshair;
    }
    rect.touch-area {
      cursor: crosshair;
    }
    .highlights {
        path {
          stroke: $text-color;
          stroke-width: 1;
        }
        path.marker-rug {
          fill: $text-color;
          stroke: none;
          display: none;

          &.active {
            display: block;
          }

          &.highlighted {
            fill: $yellow;
          }
        }
        text {
          fill: $text-color;
          font-size: 1rem;
          &.marker-textvalue {
            font-size: 0.8rem;
            // fill: #999;
          }
          // font-weight: bold;
          display: none;

          &.active {
            display: block;
          }

          &.highlighted:not(.marker-textvalue) {
            fill: $yellow;
            // font-weight: bold;
          }
        }
      

    }
    .axis {
      path.domain {
        stroke: none;
      }
      text{
        font-family: $font-family-sans-serif;
        fill: #999;
        font-size: 0.8rem;
      }
      line{
        stroke-width: 0.7;
        stroke: #999;
      }
      &.customAxisFormat {
        line {
          stroke: none;
        }
        g.tick:first-of-type {
          text-anchor: start;
        }
        g.tick:last-of-type {
          text-anchor: end;
        }
      }
      &.split-axis {
        g.tick:first-of-type {
          text-anchor: start;
          text{
            fill: #74c476;
          }
          
        }
        g.tick:last-of-type {
          text-anchor: end;
          text {
            fill: #ee665b;
          }
          
        }
      }
    }
  }

}
