#{$CountryRankingStrips-container} {

  $text-color: rgba(255, 255, 255, 0.75);
  $dark-blue: #2f353f;
  $area-color: rgba(255, 255, 255, 0.25);
  $yellow: #fce587;
  $dark-yellow: #eec331;

  /* Write your chart styles here */
  .chart-title  h6{
    margin-top: 1rem;
    font-weight: lighter;
    color: $text-color!important;
  }
  svg {
    // overflow: visible;
  }
  .CountryRankingStrips {
    background-color: $dark-blue;
    // overflow: visible;
    path.distribution-area {
      opacity: 1;
      stroke: none;
      fill: $area-color;
    }
    path.distribution-line {
      fill: none;
      stroke-width: 1;
      stroke: $area-color;
      stroke-linecap: round;
    }
    .rugplot{
      rect {
        fill: $text-color;
        opacity: 0.55;
        &.highlighted {
          fill: $dark-yellow;
          opacity: 1;
        }
      }
    }
    .histogram{
      fill: $area-color;
    }
    .highlights {
      rect{
        fill: $area-color;
        stroke-width: 0;
        stroke: $text-color;
      }
      .marker-g {
        path {
          stroke: $text-color;
          stroke-width: 1;
        }
        path.marker-rug {
          fill: $dark-yellow;
          stroke: none;
          // transform: rotate(180deg);
        }
        text {
          fill: $dark-yellow;
          font-size: 1rem;
          font-weight: bold;
        }
      }

    }
    .axis {
      path.domain {
        stroke: none;
      }
      text{
        font-family: $font-family-sans-serif;
        fill: #999;
        font-size: 0.8rem;
      }
      line{
        stroke-width: 0.7;
        stroke: #999;
      }
    }
  }

}
